* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Довелося додати цей код, оскільки праворуч з'являлася біла смуга, яку ніяк не вдавалося забрати. */

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
  width: 100%;
  min-height: 150px;
  padding: 50px;
  background: linear-gradient(to bottom, black, transparent);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.name {
  flex-shrink: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.9rem;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  cursor: pointer;
  color: #acdefb;
}

.menu ul li a:active {
  cursor: pointer;
  color: #629fc2;
}

.contact {
  flex-shrink: 0;
  width: 100px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
}

.contact:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
