* {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0px;
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100vw;
  background: linear-gradient(to bottom, black, transparent);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.name {
  font-size: 1.9rem;
  /* font-style: italic; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 50px;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu ul li:hover {
  cursor: pointer;
  color: #acdefb;
}

.menu ul li:active {
  cursor: pointer;
  color: #629fc2;
}

.contact {
  height: 40px;
  width: 100px;
  background-color: transparent;
  border: 1px solid white;
  color: inherit;
  font-size: 1rem;
}

.contact:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
